header{
    height: 400px;
    background-color: blue;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 50px;
    font-size: xx-large;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Pelmeni_Russian.jpg);
    background-size: cover;
    font-style: italic;

}

body{
    margin: 0px;
}

main{
    height: 900px;
    background-color: rgb(255, 235, 170);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 50px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

footer{
    background-color: rgb(143, 129, 67);
    padding: 50px;
    text-align: center;
    font-size: larger;
    font-style: italic;
    background-size: cover;
}

.container{
   width: 80%;
   padding: 20px;
   height: 750px;
   display: flex;
}

.block1{   
  background-color: rgb(255, 240, 199);
  padding: 20px;
  font-size: x-large;
  text-align: justify;
  margin-right: 20px;
}

.block2{

text-align: center;

}

.social img{
     width: 100px;
     padding: 20px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
